<div class="row">
    <h1 class="text-center">Add List</h1>
    <div class="span7 form form-center well">
        <form name="addListForm" class="form-horizontal" ng-submit="addList()">
            <div class="control-group" ng-class="{error: addListForm.Name.$invalid}">
                <label class="control-label" for="Name">Name:</label>
                <div class="controls">
                    <input type="text" ng-model="Name" value="" id="Name" name="Name" placeholder="New List Name" required />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>